name: Cake Build

on:
  push:
    branches: [ piotr/ci-tests-reports ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.3

    - name: ⚙️ Prepare Visual Studio
      run: '&"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\devenv.exe" /RootSuffix Exp /ResetSettings General.vssettings'

    - name: Install Cake.Tool
      run: dotnet tool install --global Cake.Tool

    - name: Restore NuGet packages
      run: nuget restore src\Cody.Core\Cody.Core.csproj -PackagesDirectory src\packages

    - name: Build Release
      run: |
        cd src
        dotnet tool restore
        corepack enable
        corepack install --global pnpm@8.6.7
        dotnet cake

    - name: Tests
      env: 
        Access_Token_UI_Tests: ${{ secrets.SRC_ACCESS_TOKEN_DOTCOM }}
      run: |
        cd src
        dotnet cake --target Tests
        dotnet test .\Cody.VisualStudio.Tests\bin\Debug\Cody.VisualStudio.Tests.dll -v detailed -l:trx

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action/windows@v2
      if: always()
      with:
        files: |
          src\TestResults/**/*.xml
          src\TestResults/**/*.trx
          src\TestResults/**/*.json